/* ESTILOS */

*{
    margin: 0;
    padding: 0;
}

div#container-topo {
    /* border: 2px solid rgba(213, 223, 80, 0.589); */
    width: 100%;
    height: 130px;
    background-color: rgb(5, 5, 5);
    background-image:url(img/sgi-logo2.png);
    background-repeat: no-repeat;
    background-size: 150px;
    display: block;
}

#banner{
    font-family: verdana;
    text-align: center;
    font-size: 20px;
    color: rgb(230, 255, 255);
    background-color: rgb(146, 143, 143);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}


div#area-do-cliente {
    width: 12%;
    height: 25%;
    margin: auto;
    float: right;
}

.btn {
    margin: 1em;
    float: right;
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size: 12px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    border:none !important;
}
.btn:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.btn:active {
    position:relative;
    top:1px;
}


.menu {
    width: 100%;
    height: 50px;
    background-color: black;
    /*margin: 115px 20px 120px 300px;*/
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: 30%;
    float: left;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color:orange;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
    background-color: #599bb3;
}

.menu a:hover {
    background-color: black;
}

.menu ul ul li {
    float: none;
}

.menu ul ul li a {  
    width: 432px;
}

.content-search {
    width: 100%;
    height: 900px;
    background-color: rgba(138, 201, 238, 0.589);
}

/* box-sizing do CSS3
Isso faz com que o tamanho da nossa caixa leve em conta até a borda-- ou seja, o 
width será a soma do conteúdo com a borda e o padding. */
* {
    box-sizing: border-box;
  }
  
  /* Estilo do campo de busca */
  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-top: 90px;
  }
  
  /* Estilo do botão de submit */
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Evita bordas duplas */
    cursor: pointer;
    margin-top: 90px;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  .option {
      background-color: sandybrown;
  }

  div#melhores-opcoes {
      margin-top: 5%;
      color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      float: left;
  }

  p#melhores-opcoes {
      font-size: 12px;
  }


.holder {
    display: flex;
    justify-content: center;
    margin-left: 50%;
}
.imagem {
  width: 300px;
  height: 150px;
  margin: 10px;
  position: relative;
  text-align: center;
}
.imagem::after {
  content: attr(data-title); /* estilo que coloca a legenda no lugar */
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 0;
}

img {
    width: 300px;
    height: 150px;
    margin-top: 10px;
}



/*figure img {
    width: 300px;
    height: 150px;
    margin-top: 10px;
}*/




/* background-color: rgba(192, 96, 7, 0.589); */